body{
    margin:0;
    text-align: center;
     background-color: #ebd2e2
}
.topcontainer{
    background-color:#9F5F80;
    margin-left: 0;
    height:1084px;
    
    

}
h1 {
    top:200px;
    font-family: 'Sacramento', cursive;
    font-size: 5.2rem;
    line-height: 2;
    margin: 30px auto 0 auto;
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
    font-style:outline;
}
h3{
    color:#045762;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.profile{
    margin: 40px 0 40px 0;
    
}
.p{
    float: left;
    margin-right: 30px;
}
.web{
    float:right;
    width: 25%;
    margin-left: 20px;
}
.btn{
    color:#11999E ;
    height:40px;
    padding-bottom: 30px;
}
.footer-link{
    color:#000000 ;
    text-decoration: none;
}
.midcontainer {
    
    margin: 100px 0;
    
}
.bottom-container{
    background-color:#9F5F80;
    padding: 25px 0 40px;
    
    
}
.cloud1{
    height:140px;
    width:140px;
}

.cloud2{
    position:absolute;
    height:200px;
    width: :200px;
}
.cloud3{
    position:absolute;
    height:200px;
    width: :200px;
    right:400px;
}
.cloud4{
    position:absolute;
    height:200px;
    width: :200px;
    left:80px;
    top:350px;
}
.cloud5{
    position:absolute;
    height:200px;
    width: :200px;
    right:80px;
    top:350px;
}

.mountain{
    height:703px;
    width:500px;

}
.mountain-left{
    position: absolute;
    left:200px;
    top:635px;
    height:500px;
    width:250px;
}
.mountain-right{
    position: absolute;
    right:184px;
    top:632px;
    height:500px;
    width:250px;
}
.profile{
    padding: 10px;
}

hr{
    border:dotted gray 6px;
    border-bottom: none;
    width:5%;
    margin:80px auto;
}
.BUTTON_OCN {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #1199E9);
    background-image: -moz-linear-gradient(top, #11CDD4, #1199E9);
    background-image: -ms-linear-gradient(top, #11CDD4, #1199E9);
    background-image: -o-linear-gradient(top, #11CDD4, #1199E9);
    background-image: -webkit-gradient(to bottom, #11CDD4, #1199E9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: Arial;
    width: 200px;
    font-size: 25px;
    font-weight: 100;
    padding: 3px;
    -webkit-box-shadow: 1px 1px 6px 0 #000000;
    -moz-box-shadow: 1px 1px 6px 0 #000000;
    box-shadow: 1px 1px 6px 0 #000000;
    text-shadow: 1px -75px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_OCN:hover {
    border: solid #2BC4ED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -webkit-gradient(to bottom, #30E3CB, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 a{
     color:#000000;
     margin: 10px 20px;
 }
 a:hover{
     color: #FFFFFF;
 }
 .copyright{
     color:#FFFFFF;
     padding: 20px 0 0 20px;
     font-size: 0.80rem;
 }